<h1>Reservation by Drummer</h1>
<div class="d-flex" id="block2">
  <div class="container" id="block">
    <div class="row">
      <div class="col-md-12 col-12">
        <h4>Name</h4>
        <p><%= info.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-6">
        <h4>Date</h4>
        <p><%= info.date %></p>
      </div>
      <div class="col-md-3 col-6">
        <h4>Boss</h4>
        <p><%= info.bossId %></p>
      </div>
      <div class="col-md-3 col-6">
        <h4>Drummer</h4>
        <p><%= info.drummerId %></p>
      </div>
    </div>
  </div>
</div>
